flows (4).json
[{"id":"198c66c1.cad8b9","type":"tab","label":"SeniorProject2021","disabled":false,"info":""},{"id":"7cac7035.88304","type":"mqtt in","z":"198c66c1.cad8b9","name":"","topic":"PiTemps","qos":"2","datatype":"json","broker":"1abf9fd7.a0e1a","x":80,"y":200,"wires":[["663fe806.d95908","2d48dd15.911e12","71e9a988.1c2b78"]],"outputLabels":["1"]},{"id":"663fe806.d95908","type":"debug","z":"198c66c1.cad8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":120,"wires":[]},{"id":"56af1299.2260dc","type":"mongodb out","z":"198c66c1.cad8b9","mongodb":"14e727f3.a20a38","name":"","collection":"PiTemps","payonly":true,"upsert":false,"multi":false,"operation":"store","x":540,"y":460,"wires":[]},{"id":"c8afbbf0.b602a8","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 33 Gauge","group":"2da9488d.60a9f8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":100,"wires":[]},{"id":"23b5997c.4748a6","type":"mqtt in","z":"198c66c1.cad8b9","name":"","topic":"GameScores","qos":"2","datatype":"json","broker":"1abf9fd7.a0e1a","x":100,"y":600,"wires":[["28fb8188.9ab18e","b60bb174.c622d","f5728227.44078"]]},{"id":"28fb8188.9ab18e","type":"debug","z":"198c66c1.cad8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":520,"wires":[]},{"id":"2d48dd15.911e12","type":"function","z":"198c66c1.cad8b9","name":"Split Temp Data","func":"if (msg.payload.PiNumber == \"33\") {\n    return [msg, null, null, null, null, null, null, msg];\n}\nelse if (msg.payload.PiNumber == \"34\") {\n    return [null, msg, null, null, null, null, null, msg];\n}\nelse if (msg.payload.PiNumber == \"35\") {\n    return [null, null, msg, null, null, null, null, msg];\n}\nelse if (msg.payload.PiNumber == \"36\") {\n    return [null, null, null, msg, null, null, null, msg];\n}\nelse if (msg.payload.PiNumber == \"37\") {\n    return [null, null, null, null, msg, null, null, msg];\n}\nelse if (msg.payload.PiNumber == \"38\") {\n    return [null, null, null, null, null, msg, null, msg];\n}\nelse if (msg.payload.PiNumber == \"39\") {\n    return [null, null, null, null, null, null, msg, msg];\n}\nelse {\n    return null;\n}","outputs":8,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["c8afbbf0.b602a8"],["7077d922.d78fd8"],["b71d44b8.ab5568"],["9a97daba.1d92a8"],["bedf6726.ed0018"],["b78ad0b2.51ce5"],["5f2a8e55.e08f2"],["b9586ac1.9b93f8"]]},{"id":"7077d922.d78fd8","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 34 Gauge","group":"2da9488d.60a9f8","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":140,"wires":[]},{"id":"69a10c69.d2aca4","type":"function","z":"198c66c1.cad8b9","name":"Split Game Data","func":"if (msg.payload.Game == \"Reaction\") {\n    delete msg.payload.Game;\n    return [msg, null];\n}\nelse if (msg.payload.Game == \"Snake\") {\n    delete msg.payload.Game;\n    return [null, msg];\n}\nelse {\n    return null;\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":600,"wires":[["cff2f3ac.78613"],["7ddc09b7.a16ec8"]]},{"id":"cff2f3ac.78613","type":"mongodb out","z":"198c66c1.cad8b9","mongodb":"e8ddebd9.7e3098","name":"","collection":"Reaction","payonly":true,"upsert":false,"multi":false,"operation":"store","x":870,"y":580,"wires":[]},{"id":"7ddc09b7.a16ec8","type":"mongodb out","z":"198c66c1.cad8b9","mongodb":"e8ddebd9.7e3098","name":"","collection":"Snake","payonly":true,"upsert":false,"multi":false,"operation":"store","x":860,"y":620,"wires":[]},{"id":"71e9a988.1c2b78","type":"function","z":"198c66c1.cad8b9","name":"Add Timestamp","func":"var d = new Date();\nd = String(d).replace(String(d).substring(0,4), \"\").replace(\" GMT-0500 \", \" \")\nmsg.payload.Date = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":460,"wires":[["56af1299.2260dc"]]},{"id":"b60bb174.c622d","type":"function","z":"198c66c1.cad8b9","name":"Add Timestamp","func":"var d = new Date();\nd = String(d).replace(String(d).substring(0,4), \"\").replace(\" GMT-0500 \", \" \")\nmsg.payload.Date = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":600,"wires":[["69a10c69.d2aca4"]]},{"id":"45f6db04.e34974","type":"mqtt out","z":"198c66c1.cad8b9","name":"","topic":"ReturnPiTemps","qos":"","retain":"","broker":"1abf9fd7.a0e1a","x":1010,"y":220,"wires":[]},{"id":"ccddd87e.74b9e8","type":"debug","z":"198c66c1.cad8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"9a7ae027.08d51","type":"mqtt in","z":"198c66c1.cad8b9","name":"","topic":"Start","qos":"2","datatype":"auto","broker":"1abf9fd7.a0e1a","x":850,"y":180,"wires":[["45f6db04.e34974","ccddd87e.74b9e8"]]},{"id":"b71d44b8.ab5568","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 35 Gauge","group":"88e0bab7.af7118","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":180,"wires":[]},{"id":"9a97daba.1d92a8","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 36 Gauge","group":"88e0bab7.af7118","order":3,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":220,"wires":[]},{"id":"bedf6726.ed0018","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 37 Gauge","group":"846a1442.5e13e8","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":260,"wires":[]},{"id":"218963b9.4a43cc","type":"mongodb in","z":"198c66c1.cad8b9","mongodb":"e8ddebd9.7e3098","name":"","collection":"Snake","operation":"find","x":540,"y":860,"wires":[["5070a213.946c1c","a28a1a45.ce80d8"]]},{"id":"d9ba3576.c83cb8","type":"debug","z":"198c66c1.cad8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":800,"wires":[]},{"id":"83389e0.f91276","type":"inject","z":"198c66c1.cad8b9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Score","payloadType":"msg","x":90,"y":760,"wires":[["6dce7b89.7e9f44","88dee05c.297fa","e7c5b550.372828"]]},{"id":"5070a213.946c1c","type":"function","z":"198c66c1.cad8b9","name":"","func":"var i;\nvar array = [];\nif (msg.payload.length <= 10) {\n    var Length = msg.payload.length;\n}\nelse{\n    var Cut = msg.payload.length;\n    for (i = 0; i != 10; i++){\n        array.push(msg.payload[i]);\n        //delete msg.payload[i];\n    }\n    var Length = 10;\n    msg.payload = array;\n}\nfor (i = 0; i < Length; i++) {\n    delete msg.payload[String(i)][\"_id\"];\n    //msg.payload[i] = \"ID: \" + msg.payload[String(i)][\"ID\"] + \" Score: \" + msg.payload[String(i)][\"Score\"] + \" Movement: \" + msg.payload[String(i)][\"Movement\"];\n    //array.push(displaytext);\n}\n//var displaytext\nreturn msg;\n\n//var leaderboard = msg.payload.Score\n//return leaderboard;\n\n//var stuff = msg.payload[\"4\"];\n//var test = stuff[\"Score\"];\n//msg.payload = test\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":860,"wires":[["d9ba3576.c83cb8","627edaae.5faaa4","ac2386e.11d2378"]]},{"id":"a28a1a45.ce80d8","type":"debug","z":"198c66c1.cad8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":800,"wires":[]},{"id":"b78ad0b2.51ce5","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 38 Gauge","group":"846a1442.5e13e8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":300,"wires":[]},{"id":"5f2a8e55.e08f2","type":"ui_gauge","z":"198c66c1.cad8b9","name":"Pi 39 Gauge","group":"88e0bab7.af7118","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.Room}}","label":"FAHRENHEIT","format":"{{msg.payload.Temp}}","min":"40","max":"100","colors":["#0098b3","#00e626","#ca3838"],"seg1":"60","seg2":"80","x":570,"y":340,"wires":[]},{"id":"b9586ac1.9b93f8","type":"change","z":"198c66c1.cad8b9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.Room","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.Temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["6b0dc9bf.fe2108"]]},{"id":"94f557b2.633d48","type":"ui_chart","z":"198c66c1.cad8b9","name":"","group":"de3fde86.dcdc2","order":1,"width":"12","height":"9","label":"PiTemps","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":380,"wires":[[]]},{"id":"7ca6e28a.bf9ebc","type":"ui_button","z":"198c66c1.cad8b9","name":"Chart Reset","group":"de3fde86.dcdc2","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":750,"y":300,"wires":[["94f557b2.633d48"]]},{"id":"6dce7b89.7e9f44","type":"ui_button","z":"198c66c1.cad8b9","name":"","group":"fb7c5b79.8a2a28","order":1,"width":0,"height":0,"passthru":true,"label":"Snake","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"payload","topicType":"msg","x":110,"y":860,"wires":[["e7ae3714.5edd78"]]},{"id":"86abcf26.d3252","type":"ui_button","z":"198c66c1.cad8b9","name":"Gauge Reset","group":"88e0bab7.af7118","order":4,"width":"0","height":"0","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":350,"y":60,"wires":[["c8afbbf0.b602a8","7077d922.d78fd8","b71d44b8.ab5568","9a97daba.1d92a8","bedf6726.ed0018","b78ad0b2.51ce5","5f2a8e55.e08f2"]]},{"id":"6b0dc9bf.fe2108","type":"delay","z":"198c66c1.cad8b9","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":670,"y":380,"wires":[["94f557b2.633d48"]]},{"id":"e9b3816c.3cbd3","type":"ui_button","z":"198c66c1.cad8b9","name":"Clear","group":"fb7c5b79.8a2a28","order":5,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":770,"y":760,"wires":[["541513fe.a81cdc","8d955127.4bab2","627edaae.5faaa4"]]},{"id":"e7ae3714.5edd78","type":"function","z":"198c66c1.cad8b9","name":"Sort by Score","func":"msg.sort = {Score:-1, Movement: 1};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":860,"wires":[["218963b9.4a43cc"]]},{"id":"f5728227.44078","type":"delay","z":"198c66c1.cad8b9","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":720,"wires":[["6dce7b89.7e9f44","88dee05c.297fa","e7c5b550.372828"]]},{"id":"26b9d87f.06e958","type":"mongodb in","z":"198c66c1.cad8b9","mongodb":"e8ddebd9.7e3098","name":"","collection":"Reaction","operation":"find","x":550,"y":920,"wires":[["472df73e.148468"]]},{"id":"88dee05c.297fa","type":"ui_button","z":"198c66c1.cad8b9","name":"","group":"fb7c5b79.8a2a28","order":3,"width":0,"height":0,"passthru":true,"label":"Reaction Normal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"N","payloadType":"str","topic":"payload","topicType":"msg","x":90,"y":920,"wires":[["81d48476.838e88"]]},{"id":"81d48476.838e88","type":"function","z":"198c66c1.cad8b9","name":"Sort by Score","func":"msg.sort = {Score:-1};\nmsg.payload = {Difficulty: \"N\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":920,"wires":[["26b9d87f.06e958"]]},{"id":"e7c5b550.372828","type":"ui_button","z":"198c66c1.cad8b9","name":"","group":"fb7c5b79.8a2a28","order":4,"width":0,"height":0,"passthru":true,"label":"Reaction Hard","tooltip":"","color":"","bgcolor":"","icon":"","payload":"H","payloadType":"str","topic":"payload","topicType":"msg","x":100,"y":980,"wires":[["2f42cac7.03a496"]]},{"id":"2f42cac7.03a496","type":"function","z":"198c66c1.cad8b9","name":"Sort by Score","func":"msg.sort = {Score:-1};\nmsg.payload = {Difficulty: \"H\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":980,"wires":[["134afcb1.26aaa3"]]},{"id":"134afcb1.26aaa3","type":"mongodb in","z":"198c66c1.cad8b9","mongodb":"e8ddebd9.7e3098","name":"","collection":"Reaction","operation":"find","x":550,"y":980,"wires":[["a55f6333.09372"]]},{"id":"a55f6333.09372","type":"function","z":"198c66c1.cad8b9","name":"","func":"var i;\nvar array = [];\nif (msg.payload.length <= 10) {\n    var Length = msg.payload.length;\n}\nelse{\n    var Cut = msg.payload.length;\n    for (i = 10; i != Cut; i++){\n        delete msg.payload[i];\n    }\n    var Length = 10;\n}\nfor (i = 0; i < Length; i++) {\n    delete msg.payload[String(i)][\"_id\"];\n    //msg.payload[i] = \"ID: \" + msg.payload[String(i)][\"ID\"] + \" Score: \" + msg.payload[String(i)][\"Score\"] + \" Movement: \" + msg.payload[String(i)][\"Movement\"];\n    //array.push(displaytext);\n}\n//msg.payload = array;\n//var displaytext\nreturn msg;\n\n//var leaderboard = msg.payload.Score\n//return leaderboard;\n\n//var stuff = msg.payload[\"4\"];\n//var test = stuff[\"Score\"];\n//msg.payload = test\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":980,"wires":[["8d955127.4bab2","25e2b560.e711fa"]]},{"id":"8d955127.4bab2","type":"ui_table","z":"198c66c1.cad8b9","group":"285b86cd.16509a","name":"Reaction H","order":6,"width":12,"height":6,"columns":[],"outputs":0,"cts":false,"x":950,"y":980,"wires":[]},{"id":"541513fe.a81cdc","type":"ui_table","z":"198c66c1.cad8b9","group":"285b86cd.16509a","name":"Reaction N","order":4,"width":12,"height":6,"columns":[],"outputs":0,"cts":false,"x":950,"y":920,"wires":[]},{"id":"472df73e.148468","type":"function","z":"198c66c1.cad8b9","name":"","func":"var i;\nvar array = [];\nif (msg.payload.length <= 10) {\n    var Length = msg.payload.length;\n}\nelse{\n    var Cut = msg.payload.length;\n    for (i = 10; i != Cut; i++){\n        delete msg.payload[i];\n    }\n    var Length = 10;\n}\nfor (i = 0; i < Length; i++) {\n    delete msg.payload[String(i)][\"_id\"];\n    //msg.payload[i] = \"ID: \" + msg.payload[String(i)][\"ID\"] + \" Score: \" + msg.payload[String(i)][\"Score\"] + \" Movement: \" + msg.payload[String(i)][\"Movement\"];\n    //array.push(displaytext);\n}\n//msg.payload = array;\n//var displaytext\nreturn msg;\n\n//var leaderboard = msg.payload.Score\n//return leaderboard;\n\n//var stuff = msg.payload[\"4\"];\n//var test = stuff[\"Score\"];\n//msg.payload = test\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":920,"wires":[["541513fe.a81cdc","5663316d.64345"]]},{"id":"ab8bc710.1bca08","type":"ui_text","z":"198c66c1.cad8b9","group":"285b86cd.16509a","order":1,"width":"12","height":"1","name":"Snake Title","label":"Snake","format":"","layout":"col-center","x":520,"y":1080,"wires":[]},{"id":"627edaae.5faaa4","type":"ui_table","z":"198c66c1.cad8b9","group":"285b86cd.16509a","name":"Snake","order":2,"width":12,"height":6,"columns":[],"outputs":0,"cts":false,"x":930,"y":860,"wires":[]},{"id":"696ef0ed.f05b8","type":"ui_text","z":"198c66c1.cad8b9","group":"285b86cd.16509a","order":3,"width":0,"height":0,"name":"Reaction Normal","label":"Reaction Normal","format":"","layout":"col-center","x":718,"y":1048.4000244140625,"wires":[]},{"id":"af4c7191.1a8ed","type":"ui_text","z":"198c66c1.cad8b9","group":"285b86cd.16509a","order":5,"width":0,"height":0,"name":"Reaction Hard","label":"Reaction Hard","format":"","layout":"col-center","x":900,"y":1080,"wires":[]},{"id":"ac2386e.11d2378","type":"rbe","z":"198c66c1.cad8b9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":660,"wires":[["65a45d6b.7067f4"]]},{"id":"65a45d6b.7067f4","type":"change","z":"198c66c1.cad8b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"New High Score!!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":700,"wires":[["c649ac34.ad124","3f42022d.cfe24e"]]},{"id":"c649ac34.ad124","type":"mqtt out","z":"198c66c1.cad8b9","name":"","topic":"NewHighScore","qos":"","retain":"","broker":"1abf9fd7.a0e1a","x":1000,"y":700,"wires":[]},{"id":"3f42022d.cfe24e","type":"debug","z":"198c66c1.cad8b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":760,"wires":[]},{"id":"5663316d.64345","type":"rbe","z":"198c66c1.cad8b9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":700,"wires":[["65a45d6b.7067f4"]]},{"id":"25e2b560.e711fa","type":"rbe","z":"198c66c1.cad8b9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":740,"wires":[["65a45d6b.7067f4"]]},{"id":"1abf9fd7.a0e1a","type":"mqtt-broker","name":"bvbroker","broker":"192.168.1.32","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14e727f3.a20a38","type":"mongodb","hostname":"192.168.1.31","topology":"direct","connectOptions":"","port":"27017","db":"PiTemps","name":""},{"id":"2da9488d.60a9f8","type":"ui_group","name":"SENG Lab L","tab":"7ce29ec.aba026","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8ddebd9.7e3098","type":"mongodb","hostname":"192.168.1.31","topology":"direct","connectOptions":"","port":"27017","db":"GameScores","name":""},{"id":"88e0bab7.af7118","type":"ui_group","name":"SENG Lab M","tab":"7ce29ec.aba026","order":2,"disp":true,"width":"6","collapse":false},{"id":"846a1442.5e13e8","type":"ui_group","name":"SENG Lab R","tab":"7ce29ec.aba026","order":3,"disp":true,"width":"6","collapse":false},{"id":"de3fde86.dcdc2","type":"ui_group","name":"Chart","tab":"62b1eb08.db67c4","order":1,"disp":true,"width":"12","collapse":false},{"id":"fb7c5b79.8a2a28","type":"ui_group","name":"Refresh Buttons","tab":"d796dcba.f44e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"285b86cd.16509a","type":"ui_group","name":"Top Scores","tab":"d796dcba.f44e8","order":2,"disp":true,"width":"12","collapse":false},{"id":"7ce29ec.aba026","type":"ui_tab","name":"Software Engineering IoT","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"62b1eb08.db67c4","type":"ui_tab","name":"TempChart","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d796dcba.f44e8","type":"ui_tab","name":"LeaderBoards","icon":"dashboard","order":3,"disabled":false,"hidden":false}]